<!DOCTYPE html>
<html lang="en">

<head>
  <title>todo API</title>
</head>

<body>
  <h2 id="api-endpoints">API Endpoints</h2>
  <h4 id="todos">Todos</h4>
  <ul>
    <li>Create (/todos) POST
      parameters: {title}</li>
    <li>index(/todos/) GET
      queries: sort=asc/dec , limit(integer) , completed=true/false
    </li>
    <li>Show(/todos/:id) GET</li>
    <li>Create (/todos) POST
      parameters:at least one of {title,completed}</li>
    <li>Delete(/todos/:id) DELETE</li>
  </ul>
</body>

</html>